.search_form{
    padding-top: .2rem;
    padding-bottom: .2rem;
    display: flex;
}
.search_input{
    margin:0 .2rem 0 .4rem;
    width: 5rem;
    height: .6rem;
    font-size: .3rem;
    font-weight: bold;
    border-radius: .15rem;
    border: 0.025rem solid #e4e4e4;
    background: #f2f2f2;
}
.search_submit{
    width: 77px;
    color: #fff;
    background: #3190e8;
    border-radius: .15rem;
    border: 0.025rem solid #3190e8;
    font-weight: bold;
}