.box{
    display: flex;
    padding: .5rem;
    margin-bottom: 0.5rem;
}
.left{
    text-align: center;
    margin-right: .5rem;
}
.one{
    font-size: .4rem;
    color: #f60;
    margin-bottom: 0;
}
.two{
    font-size: 0.3rem;
    color: #666;
    margin-bottom: .1rem;
}
.three{
    font-size: 0.2rem;
    color: #999;
    margin-bottom: 0;
}
.right{
    flex: 4;
}
.right .quan{
    font-size: .3rem;
    line-height: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: .1rem;
}
.right .quan span{
    color: #666;
    margin-right: .3rem;
}
.right .quan .xin{
    overflow-y: hidden;
    flex-direction: column;
    position: relative;
    width: 1rem;
    height: 0.4rem;
    margin-right: .2rem;
}
.right .quan .xin section{
    position: absolute;
    display: flex;
    width: 2rem;
    top: .2rem;
}
.right .quan .fen{
    color: #f60
}
.fenzhong{
    font-size: 0.2rem;
    color: #999;
}