.profile-1reTe{
    width:100%;
    height:2.5rem;
    margin-bottom: 0.4rem;
}
aside{
    display: flex;
    width:100%;
    height:0.8rem;
    background:#fff;
    border-bottom:0.02rem solid #ccc;
    
}
.Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:15%;
    height:100%;
  
}
.OrderRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    height:100%;
    padding:0 0.4rem;
}